/* values */
White(opacity)
  rgba(255, 255, 255, opacity)
Black(opacity)
  rgba(0, 0, 0, opacity)
Border(color)
  1px solid color

TST(duration = .16s)
  transition: all duration ease

/* blocks */
flex-center()
  display: flex
  align-items: center
flex-center-y()
  flex-center()
  flex-direction: column

/* responsive */
mobile()
  @media (max-width: 768px)
    {block}
pc()
  @media (min-width: 768px)
    {block}
